@import "../setup/library";

.navbar {
    border-radius: 0;
}

.navbar-default {
    background: $white;
    border: none;
    border-bottom: 1px solid $nav-border-bottom;
    @include box-shadow(0 1px 3px $nav-shadow);
}

a.navbar-brand {
    width: 195px;
    display: block;
    height: 60px;
    background: url(../../img/launch_logo.jpg) no-repeat;
    margin: 4px 0 4px 0;
    text-decoration: none;
    @include hide-text();
}

.navbar-nav > li > a {
    line-height: 48px;
    padding: 10px 12px;
}

.navbar-nav {
    @include font-face-nav();
    font-size: $nav-font-size;
    text-transform: $uppercase-font;
    font-weight: bold;
}

navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: $nav-color;
    background-color: transparent;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    color: $nav-color;
    background-color: transparent;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    background-color: transparent;
    color: $nav-color;
}

.dropdown-menu > li > a {
    color: $default-font-color;
    //text-align:center;
}

    .dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
        color: $white-font;
        text-decoration: none;
        background-color: $nav-color;
    }

.badge {
    padding: 11px 10px;
    color: $white-font;
    background-color: $nav-color;
    border-radius: 40px;
    font-size: $badge-font-size !important;
}

.badge-mobile {
    background-color: $nav-color;
    border-radius: 40px;
    color: $white-font;
    display: inline-block;
    font-size: $badge-font-size !important;
    font-weight: 700;
    line-height: 1;
    min-width: 10px;
    padding: 11px 10px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    margin: 9px 20px 0 0;
    //display:none;
}
.message-control{
	right: auto !important;
	max-height:200px;
	overflow-y:auto;
	min-width: 220px !important;
	li a{white-space: normal !important;}
}

.navbar-toggle .icon-bar {
    height: 3px;
}

.profile {
  display: inline-block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url(/img/profile.png) no-repeat;
  width: 36px; /* Width of new image */
  height: 36px; /* Height of new image */
  padding-left: 36px; /* Equal to width of new image */
  &:hover, &:focus, &:active{
    background: url(/img/profile-hover.png) no-repeat;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
    a.navbar-brand {
        background: url(../../img/launch_logo2.jpg) no-repeat !important;
        width: 153px !important;
        height: 47px !important;
    }

    .navbar-nav {
        font-size: 0.9em;
        .dropdown-menu{
            font-size:1em;
        }
    }

        .navbar-nav li a {
            padding: 3px 5px !important;
        }
}

@media (max-width: 767px) {
    body {
         margin-top:75px;
    }
    a.navbar-brand {
        background: url(../../img/launch_logo2.jpg) no-repeat !important;
        //margin:3px 0 4px 8px !important;
        width: 153px !important;
        //display:block;
        height: 47px !important;
    }
    .dropdown-menu {
        font-size:1.0em;
    }
    .navbar-default .navbar-nav > li {
        background-color: #5f5f5f;
        border-bottom: 1px solid #fff;
        color: #fff;
        text-align: center;

        a {
            font-size:1.0em;
            color: #fff;
            font-weight: normal;
            line-height:normal !important;
            padding:10px 15px !important;

            &:hover, &:focus {
                //background-color:#ef5f47;
                color: #ef5f47;
            }
        }
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li {
        background-color: #333333;
        border-top: 1px solid #fff;
        color: #fff;
        text-align: center;

        a {
            color: #fff;
            padding: 10px 15px;

            &:focus, &:hover {
                color: #fff;
                background-color: #ef5f47;
            }
        }
    }
}
