@import "../setup/library";

#resend-registration {
    .modal-footer {
        margin-top: 50px;
    }
}

.modal-dialog {
    .modal-content {
        border-radius: 0;

        .modal-header {
            padding: 8px;
            background-color: $heading-color;
            color: $white-font;
            text-align: center;
            border-bottom: none;

            .modal-title {
                font-size: 1.3em;
                font-weight: bold;
				text-transform:uppercase;
				line-height:2;
            }

            .close {
                margin-top: 0;
                background-color: $white;
                border-radius: 20px;
                float: right;
                font-size: 30px;
                font-weight: 700;
                line-height: 1;
                color: $orange;
                text-shadow: none;
                opacity: 1;
                padding: 0 6px;
                outline: none;

                &:hover, &:focus {
                    color: $primary-button-hover-bg;
                }
            }
        }

        .modal-body {
			a{font-size:$footer-font-size;}
			 .modal-radio{
				.button-container{
								  margin:3px 0;
							}
			 }
            .diff-email {
                #diff-email {
                    display: none;
                }

                label {
                    font-size: $default-font-size !important;
                    margin-bottom: 6px;
                    color:$orange;

                    &:hover {
                        //color: $orange;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
		.split-width{
			input[type='date']{max-width:150px !important;}
			}
		 label span{padding-left:8px; font-weight:normal;}
		 .timeline{ 
			 list-style:none;
			 margin-bottom:0;
			 li{
					border-left:5px solid $status-blue;
					position:relative;
					padding:0 13px 25px;
					font-size: $button-font-size;
					.oval {
						width: 18px;
						height: 18px;
						position: absolute;
						top: -1px;
						left: -12px;
						border: 1px solid $status-blue;
						border-radius: 50%;
						display: inline-block;
						background-color: $white;
					}
						  strong, span{
							  position:relative;
							  top:-4px;
						  }
						  strong{ margin-right:5px;}
				}	
			   .no-border{border-left: 5px solid transparent;}
			   }
				.timeline-year{
					font-weight: $bold-font;
					font-size: 1.3em;
					margin: 0 0 0 25px;
				}
				
				.form-horizontal .form-group label {
					padding-top:6px;
				}
				#addNewTag+.input-group-btn{
					background:$orange;
					font-size:$plus-icon;
					text-align:center;
					width:1%;
					&:hover{
							   background-color: $default-button-hover-bg;
							   }
						   button{
							   border:0;
							   background:transparent;
							   color:$white;
							   top:2px;
							   &:focus{
										  outline:none !important;
										  }
									  &:before{
										  right:-1px;
										  position:relative;
										  }
									  }
	}

        }

        .modal-footer {
            padding: 0 15px 15px;
            border-top: none;
			.btn+.btn {
					margin:0;
					  }
        }
    }
}

@media (max-width: 767px){
.modal-dialog{ 
	.modal-content{
		.modal-body {
			.split-width{
			input[type='date']{ width:100%; max-width:700px !important;}
			@media (max-width: 340px){
				input[type='date']{max-width:140px !important;}
			}
			}
		}
	}
}
.modal-radio{
	.button-container{ 
		.radio{
				  margin-top:0;
			  }
		}
	}
}
