<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="img/favicon.ico">
    <title>Launch - Pride Global</title>
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <!--<link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">-->
    <!-- Custom styles -->
    <link href="sass/site.css" rel="stylesheet">
    <script src="js/ie-emulation-modes-warning.js"></script>
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Global Header -->
    <header>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">LAUNCH</a>
                    <!--<a href="#" class="pull-right hidden-lg hidden-md hidden-sm"><span class="badge-mobile">10</span></a>-->
                    <div class="input-group pull-right hidden-lg hidden-md hidden-sm">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="badge-mobile">10</span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Users</a></li>
                            <li><a href="#">Clients</a></li>
                            <li><a href="#">Sppliers</a></li>
                            <li><a href="#">Audit Log</a></li>
                        </ul>
                    </div>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown visible-lg visible-md visible-sm">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="badge">10</span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Clients</a></li>
                                <li><a href="#">Sppliers</a></li>
                                <li><a href="#">Audit Log</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="#">Run a Report</a></li>
                        <li><a href="#about">Create a Requisition</a></li>
                        <li><a href="#contact">View Requisitions</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">System</a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Users</a></li>
                                <li><a href="#">Clients</a></li>
                                <li><a href="#">Sppliers</a></li>
                                <li><a href="#">Audit Log</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img id="profile" src="img/profile.png" class="profile" /></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">My Profile</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">unsubscribe</a></li>
                                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#update-password">Update Password</a></li>
                                <li><a href="#">Sign Out</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </header>
    <!-- container start -->
    <div class="container">
        <h1>Sample Filter</h1>
        <div class="form-container">
            <form class="form-inline">
                <div class="requisition-dtop-container">
                    <!--Filter begins (desktop version)-->
                    <div class="button-container"><div class="text-right"><a href="#filter-users" data-toggle="collapse" class="block-btn btn-mbl">Filter<span class="caret"></span></a></div></div>
                    <div class="clear"></div>
                    <div class="collapse" id="filter-users">
                        <div class="well">
                            <div class="form-group">
                                <label for="jobTitle">Job Title</label>
                                <input type="text" class="form-control" id="jobTitle" placeholder="Job Title">
                            </div>
                            <div class="form-group">
                                <label for="jobLocation">Job Location</label>
                                <select id="jobLocation" class="form-control">
                                    <option>Location 1</option>
                                    <option>Location 2</option>
                                    <option>Location 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                            <div class="form-group">
                                <label for="dateAdd">Date Added</label>
                                <input type="text" class="form-control" id="dateAdd" placeholder="Date Added">
                            </div>
                            <div class="form-group">
                                <label for="phNumber">Phone Number</label>
                                <input type="tel" class="form-control" id="phNumber" placeholder="Phone Number">
                            </div>
                            <div class="form-group">
                                <label for="userType">Clients</label>
                                <select id="userType" class="form-control">
                                    <option>Client 1</option>
                                    <option>Client 2</option>
                                    <option>Client 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="orgStruc">Organisation Structure</label>
                                <input type="text" class="form-control" id="orgStruc" placeholder="Organisation Structure">
                            </div>
                            <div class="form-group">
                                <label for="dateCreated">Date Created</label>
                                <input type="text" class="form-control date-pick" id="dateCreated" placeholder="Date Created">
                            </div>
                            <div class="form-group">
                                <label for="reqID">Requisition ID</label>
                                <input type="text" class="form-control" id="reqID" placeholder="Requisition ID">
                            </div>
                            <div class="form-group">
                                <label for="reqStatus">Requisition Status</label>
                                <select id="reqStatus" class="form-control">
                                    <option>Requisition Status 1</option>
                                    <option>Requisition Status 2</option>
                                    <option>Requisition Status 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="hiringMgr">Hiring Manager</label>
                                <select id="hiringMgr" class="form-control">
                                    <option>Hiring Manager 1</option>
                                    <option>Hiring Manager 2</option>
                                    <option>Hiring Manager 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="mspOwner">MSP Owner</label>
                                <select id="mspOwner" class="form-control">
                                    <option>MSP Owner 1</option>
                                    <option>MSP Owner 2</option>
                                    <option>MSP Owner 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="clientId">Client ID</label>
                                <input type="text" class="form-control" id="clientId" placeholder="Client ID">
                            </div>
                            <div class="form-group">
                                <label for="clientName">Client Name</label>
                                <input type="text" class="form-control" id="clientName" placeholder="Client Name">
                            </div>
                            <div class="form-group">
                                <label for="supplierId">Supplier ID</label>
                                <input type="text" class="form-control" id="supplierId" placeholder="Supplier ID">
                            </div>
                            <div class="form-group">
                                <label for="supplierName">Supplier Name</label>
                                <input type="text" class="form-control" id="supplierName" placeholder="Supplier Name">
                            </div>
                            <div class="form-group">
                                <label for="clientLists">Client Lists</label>
                                <select id="clientLists" class="form-control">
                                    <option>Client 1</option>
                                    <option>Client 2</option>
                                    <option>Client 3</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="company">Company</label>
                                <input type="text" class="form-control" id="company" placeholder="Company">
                            </div>
                            <div class="form-group">
                                <label for="userType">User Type</label>
                                <select id="userType" class="form-control">
                                    <option>MSP</option>
                                    <option>Client</option>
                                    <option>Supplier</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="userId">User Id</label>
                                <input type="text" class="form-control" id="userId" placeholder="User ID">
                            </div>
                            <div class="form-group modal-radio">
                                <label for="actStatus">Active Status</label>
                                <div class="button-container">
                                    <div class="radio radio-primary">
                                        <input type="radio" id="radio1" name="optradio" checked><label for="radio1">Active</label>
                                    </div>
                                    <div class="radio radio-primary">
                                        <input type="radio" id="radio2" name="optradio"><label for="radio2">Inactive</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="text-right"><button type="reset" class="btn btn-link">Clear All</button></div>
                        </div>
                    </div>
                    <!--Filter ends (desktop version)-->
                </div>
                <div class="requisition-mbl-container">
                    <!--Filter begins (mobile version)-->
                    <div><a href="javascript:void(0)" class="block-btn btn-mbl" data-toggle="modal" data-target="#filter-users-mbl">Filter<span class="caret"></span></a></div>
                    <div class="clear"></div>
                    <!--Filter ends (mobile version)-->
                </div>

                <div style="border:2px solid #000;">
                    <h5>Abhijeet's Code</h5>
                    <div class="text-right"><a href="#filter-users1" data-toggle="collapse" class="block-btn btn-mbl">Filter<span class="caret"></span></a></div>
                    <div class="collapse" id="filter-users1">
                        <div class="well">
                            <div class="form-group">
                                <label for="searchName">First Name</label>
                                <input type="text" class="form-control" id="searchName" ng-model="searchName.firstName" placeholder="First Name" ng-maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="searchLName">Last Name</label>
                                <input type="text" class="form-control" id="searchLName" ng-model="searchLName.lastName" placeholder="Last Name" ng-maxlength="50">
                            </div>
                            <div class="form-group">
                                <label for="searchAddress">Address</label>
                                <input type="text" class="form-control" id="searchAddress" ng-model="searchAddress.address.address1" placeholder="Address">
                            </div>
                            <div class="form-group">
                                <label>Date</label>
                                <select class="form-control" data-ng-model="search.createdAt">
                                    <option></option>
                                    <option>Last Week</option>
                                    <option>Last Month</option>
                                    <option>Last Year</option>
                                </select>
                            </div>
                            <div class="clear"></div>
                            <div class="text-right"><button type="reset" class="btn btn-link" id="clearData" name="clearData" ng-click="clearData()">Clear All</button></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- /.container -->
    <!-- Global Footer -->
    <footer><div class="container"><span>&copy; Copyright PrideOne 2016 All Rights Reserved</span><a href="#" class="pull-right">Help</a></div></footer>
    <!--Filter modal begins (mobile version)-->
    <div class="modal fade" id="filter-users-mbl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">Filter</h3>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            <label for="mbl-jobTitle">Job Title</label>
                            <input type="text" class="form-control" id="mbl-jobTitle" placeholder="Job Title">
                        </div>
                        <div class="form-group">
                            <label for="mbl-jobLocation">Job Location</label>
                            <select id="mbl-jobLocation" class="form-control">
                                <option>Location 1</option>
                                <option>Location 2</option>
                                <option>Location 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-firstName">First Name</label>
                            <input type="text" class="form-control" id="mbl-firstName" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="mbl-lastName">Last Name</label>
                            <input type="text" class="form-control" id="mbl-lastName" placeholder="Last Name">
                        </div>
                        <div class="form-group">
                            <label for="mbl-dateAdd">Date Added</label>
                            <input type="text" class="form-control" id="mbl-dateAdd" placeholder="Date Added">
                        </div>
                        <div class="form-group">
                            <label for="mbl-phNumber">Phone Number</label>
                            <input type="tel" class="form-control" id="mbl-phNumber" placeholder="Phone Number">
                        </div>
                        <div class="form-group">
                            <label for="mbl-userType">Clients</label>
                            <select id="mbl-userType" class="form-control">
                                <option>Client 1</option>
                                <option>Client 2</option>
                                <option>Client 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-orgStruc">Organisation Structure</label>
                            <input type="text" class="form-control" id="mbl-orgStruc" placeholder="Organisation Structure">
                        </div>
                        <div class="form-group">
                            <label for="mbl-dateCreated">Date Created</label>
                            <input type="text" class="form-control date-pick" id="mbl-dateCreated" placeholder="Date Created">
                        </div>
                        <div class="form-group">
                            <label for="mbl-reqID">Requisition ID</label>
                            <input type="text" class="form-control" id="mbl-reqID" placeholder="Requisition ID">
                        </div>
                        <div class="form-group">
                            <label for="mbl-reqStatus">Requisition Status</label>
                            <select id="mbl-reqStatus" class="form-control">
                                <option>Requisition Status 1</option>
                                <option>Requisition Status 2</option>
                                <option>Requisition Status 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-hiringMgr">Hiring Manager</label>
                            <select id="mbl-hiringMgr" class="form-control">
                                <option>Hiring Manager 1</option>
                                <option>Hiring Manager 2</option>
                                <option>Hiring Manager 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mspOwner">MSP Owner</label>
                            <select id="mspOwner" class="form-control">
                                <option>MSP Owner 1</option>
                                <option>MSP Owner 2</option>
                                <option>MSP Owner 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-clientId">Client ID</label>
                            <input type="text" class="form-control" id="mbl-clientId" placeholder="Client ID">
                        </div>
                        <div class="form-group">
                            <label for="mbl-clientName">Client Name</label>
                            <input type="text" class="form-control" id="mbl-clientName" placeholder="Client Name">
                        </div>
                        <div class="form-group">
                            <label for="mbl-supplierId">Supplier ID</label>
                            <input type="text" class="form-control" id="mbl-supplierId" placeholder="Supplier ID">
                        </div>
                        <div class="form-group">
                            <label for="mbl-supplierName">Supplier Name</label>
                            <input type="text" class="form-control" id="mbl-supplierName" placeholder="Supplier Name">
                        </div>
                        <div class="form-group">
                            <label for="mbl-clientLists">Client Lists</label>
                            <select id="mbl-clientLists" class="form-control">
                                <option>Client 1</option>
                                <option>Client 2</option>
                                <option>Client 3</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-company">Company</label>
                            <input type="text" class="form-control" id="mbl-company" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="mbl-userType">User Type</label>
                            <select id="mbl-userType" class="form-control">
                                <option>MSP</option>
                                <option>Client</option>
                                <option>Supplier</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="mbl-userId">User Id</label>
                            <input type="text" class="form-control" id="mbl-userId" placeholder="User ID">
                        </div>
                        <div class="form-group modal-radio">
                            <label for="mbl-actStatus">Active Status</label>
                            <div class="button-container">
                                <div class="radio radio-primary">
                                    <input type="radio" id="radio7" name="optradio" checked><label for="radio7">Active</label>
                                </div>
                                <div class="radio radio-primary">
                                    <input type="radio" id="radio8" name="optradio"><label for="radio8">Inactive</label>
                                </div>
                            </div>
                        </div>
                        <div class="clear"></div>
                        <!--<a href="#">Clear All</a>-->
                        <button type="reset" class="btn btn-link">Clear All</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-default block-btn" data-dismiss="modal">Filter Results</button>
                </div>
            </div>
        </div>
    </div>
    <!--Filter modal ends (mobile version)-->
    <script src="js/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bs-datepicker.js"></script>
    <script src="js/site.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>