@import "../setup/library";
html {
  position: relative;
  min-height: 100%;
  //height:100%;
}
body {
	@include font-face-default();
    font-size: $default-font-size;
    color: $default-font-color;
    background-color: transparent;
    background: $body-bg;
    height: 100%;
    margin-bottom: 66px;
    margin-top: 90px;
}

h1, h2, h3, h4, h5 {
	@include font-face-heading();
    margin: 10px 0 10px;
}

h1 {margin: 0 0 20px; font-size:$heading-font-size; font-weight:500;}
.margint20 {margin-top: 20px;}
.marginl10{margin-left:10px;}
.marginb10{margin-bottom:10px;}

h4{		
	@include font-face-default();
	font-size:$sub-heading-font-size;
	}

.clear {
    clear: both;
}
.disp-inblk{display:$dis-inline-block;}
a {
    color:$default-anchor-color;
    font-size:$default-font-size;
    &:active, &:focus, &:hover {
        outline: none;
        outline: 0;
        color:$default-anchor-hover-color;
    }
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: transparent;
    border-radius: 0;
	.active{
			   color:$grey-color;
			   font-size:$default-font-size;
		   }
	li+li:before {
    padding: 0 5px;
    color: $orange;
    content: "\003e";
	font-size: $default-font-size;
    position: relative;
    top: 2px;
	}
}
input:-webkit-autofill{
        -webkit-box-shadow: 0 0 0px 1000px $form-elements-bg inset !important;
        -webkit-text-fill-color: $default-font-color !important;
}
input:focus::-webkit-input-placeholder{
    color: transparent!important;
}
input:focus::-moz-placeholder{
    color: transparent!important;
}
input:focus:-moz-placeholder{
    color: transparent!important;
}
.show-hide, .see-more{margin:0 5px;}
.show-hide{display:none;}
.tooltip-inner {
    border: 1px solid $black;
    max-width: 200px;
    padding: 3px 8px;
    color: $black;
    text-align: center;
    background-color: $tooltip-bg;
    border-radius: 4px;
}
.tooltip{opacity:1 !important;}
.error-block{
	position:absolute;
	display:block;
	margin-top:5px;
	margin-bottom:10px;
	color:$error-color;
	font-size:$footer-font-size;
	}
.separator{
	border-top:1px solid $tab-grey;
	margin-bottom:20px;
	}
.sub-heading{font-size:$sub-heading-font-size;}
.form-inline{
	.well {
		min-height: 20px;
		padding: 15px;
		margin-bottom: 20px;
		background-color: $form-elements-bg;
		border: none;
		border-radius: 0;
		box-shadow: none;
		.form-control { background-color: $filter-elements-bg !important;}
		.btn-link {margin-right:0;}
	}
}
.block-btn[aria-expanded="true"]{ 
	.caret {
    border-bottom: 4px dashed;
	border-top:none;
    }
  }
.multiselect-parent .btn-group .dropdown-multiselect{
	width:100%;
	.dropdown-toggle .btn .btn-default{width:100%; text-align:left;
		.caret{float:right; margin-top:8px;}
	}
	ul.dropdown-menu .dropdown-menu-form{width:100%;
	span.glyphicon-ok{background:$orange; color:$white;font-size:10px;padding:3px;}
	}
}



